{% load i18n %}

{% block subject %}
【{{ site_name }}】- ユーザー名の変更{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{{ site_name }}ユーザー名の変更を受け付けました。

以下のページにアクセスして、新しいユーザー名を入力してください。
{{ protocol }}://{{ domain }}/{{ url }}
あなたのユーザー名：{{ user.get_username }}

当サイトをご利用いただきありがとうございます。

{{ site_name }}管理者より
{% endblock text_body %}

{% block html_body %}
<p>{{ site_name }}ユーザー名の変更を受け付けました。{% endblocktrans %}</p>

<p>以下のページにアクセスして、新しいユーザー名を入力してください。</p>
<a href="{{ protocol }}://{{ domain }}/{{ url }}">{{ protocol }}://{{ domain }}/{{ url }}</a>
<p>あなたのユーザー名：<b>{{ user.get_username }}</b></p>

<p>当サイトをご利用いただきありがとうございます。</p>

<p>{{ site_name }}管理者より</p>
{% endblock html_body %}
